.movies-card-list {
  width: 100%;
}

.movies-card-list__list {
  margin: 0 auto;
  padding: 0;
  max-width: 300px;
  list-style-type: none;
  display: grid;
  column-gap: 30px;
  row-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

@media (min-width: 321px) and (max-width: 768px) {
  .movies-card-list__list {
    max-width: calc(300px + (708 - 300) * ((100vw - 321px) / (768 - 321)));
    row-gap: calc(24px + (20 - 24) * ((100vw - 321px) / (768 - 321)));
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .movies-card-list__list {
    max-width: calc(708px + (1140 - 708) * ((100vw - 769px) / (1280 - 769)));
    column-gap: calc(30px + (20 - 30) * ((100vw - 769px) / (1280 - 769)));
    row-gap: calc(20px + (28 - 20) * ((100vw - 769px) / (1280 - 769)));
  }
}

@media (min-width: 1281px) {
  .movies-card-list__list {
    max-width: 1140px;
    column-gap: 20px;
    row-gap: 28px;
  }
}
