.movies-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.movies-card__img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 168px;
  max-height: 168px;
  object-fit: cover;
}

.movies-card__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  margin-bottom: 6px;
}

.movies-card__link {
  text-decoration: none;
}
.movies-card__link:hover {
  opacity: 70%;
}

.movies-card__title {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  color: rgba(255, 255, 255, 1);
  max-width: 240px;
  min-height: 32px;
  max-height: 32px;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
}

.movies-card__button-like {
  min-height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  background-image: url(../../images/like.svg);
  background-repeat: no-repeat;
  background-size: 10px 8.5px;
  background-color: rgba(49, 49, 49, 1);
  border-radius: 50%;
  background-position: center;
  cursor: pointer;
}

.movies-card__button-like:hover {
  opacity: 70%;
}

.movies-card__button-like_active {
  background-image: url(../../images/like-active.svg);
}

.movies-card__button-delcard {
  min-height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  background-image: url(../../images/del-icon.svg);
  background-repeat: no-repeat;
  background-size: 9px 9px;
  background-color: rgba(49, 49, 49, 1);
  border-radius: 50%;
  background-position: center;
  opacity: 1;
  transition-duration: 300ms;
}

.movies-card__button-delcard:hover {
    opacity: 1;
    cursor: pointer;
    transition-duration: 300ms;
}

.movies-card__duration {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 10px;
  line-height: 12.1px;
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
  color: rgba(139, 139, 139, 1);
}

@media (min-width: 321px) and (max-width: 768px) {
  .movies-card__title {
    font-size: calc(12px + (13 - 12) * ((100vw - 321px) / (768 - 321)));
    line-height: calc(
      14.52px + (15.73 - 14.52) * ((100vw - 321px) / (768 - 321))
    );
    max-width: calc(240px + (295 - 240) * ((100vw - 321px) / (768 - 321)));
  }
  .movies-card__duration {
    font-size: calc(10px + (11 - 10) * ((100vw - 321px) / (768 - 321)));
    line-height: calc(
      12.1px + (13.31 - 12.1) * ((100vw - 321px) / (768 - 321))
    );
  }
  .movies-card__img {
    min-height: calc(168px + (190 - 168) * ((100vw - 321px) / (768 - 321)));
    max-height: calc(168px + (190 - 168) * ((100vw - 321px) / (768 - 321)));
  }
}

@media (min-width: 769px) {
  .movies-card__title {
    font-size: 13px;
    line-height: 15.73px;
  }
  .movies-card__description {
    padding-bottom: 13px;
  }
  .movies-card__duration {
    font-size: 11px;
    line-height: 13.31px;
  }
  .movies-card__button-delcard {
    opacity: 0;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .movies-card__img {
    min-height: calc(190px + (151 - 190) * ((100vw - 769px) / (1280 - 769)));
    max-height: calc(190px + (151 - 190) * ((100vw - 769px) / (1280 - 769)));
  }
  .movies-card__title {
    max-width: calc(295px + (226 - 295) * ((100vw - 769px) / (1280 - 769)));
  }
}

@media (min-width: 1281px) {
  .movies-card__img {
    min-height: 151px;
    max-height: 151px;
  }
  .movies-card__title {
    max-width: 226px;
  }
}
