.saved-movies {
    margin: 0 auto;
    background-color: rgba(32, 32, 32, 1);
    min-height: 100vh;
    min-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.saved-movies__error {
    display: none;
    margin: 0 auto;
    padding: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
    font-family: "Inter", Arial, sans-serif;
  }
  
  .saved-movies__error_active {
    display: block;
  }